.tTTLoginWrapper1518{
    height: 100vh;
    width: 100%;
    flex-direction: row;
    
}
.tTTLoginWrapper1518 .tTTLoginLeft1518,.tTTLoginWrapper1518 .tTTLoginRight1518{
    width: 50%;
    padding: 40px;
}
.tTTLoginWrapper1518 .tTTLoginLeft1518{
    background-color: var(--green);
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.tTTLoginWrapper1518 .tTTLoginLeft1518 .tTTLoginBackImage1518{
    position: absolute;
    opacity: 0.3;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -30%;
    transform: rotate(45deg);
    background-image: url(../../assets/images/tic-tac-toe.png);
    background-repeat: repeat;
}
.tTTLoginWrapper1518 .tTTLoginLeft1518 .tTTLoginHeading1518{
    font-size: 200px;
    position: relative;
    flex-direction: column;
    font-weight: 800;
    letter-spacing: 5px;
    
}

.tTTLoginLeft1518 .tTTLoginHeading1518 span{
    margin-top: -70px;
}

.tTTLoginLeft1518 .tTTLoginHeading1518 span:nth-of-type(1),
.tTTLoginLeft1518 .tTTLoginHeading1518 span:nth-of-type(3){
    color:var(--blueDark)
}
.tTTLoginLeft1518 .tTTLoginHeading1518 span:nth-of-type(2){
    color:var(--peachDark)
}


.tTTLoginWrapper1518 .tTTLoginRight1518{
    flex-direction: column;
    align-items: center;
    
}
.tTTLoginWrapper1518 .tTTLoginRight1518 h2{
    text-transform: uppercase;
    margin-top: 200px;
}
.tTTLoginWrapper1518 .tTTLoginRight1518 .tTTLoginTokenList1518{
    flex-direction: row;
    margin: 30px 0;
}

@media screen and (max-width:1040px) {
    .tTTLoginWrapper1518 .tTTLoginLeft1518 .tTTLoginHeading1518{
        font-size: 150px;
    }
}

@media screen and (max-width:900px) {
    .tTTLoginWrapper1518 .tTTLoginRight1518 .tTTLoginTokenList1518{
        flex-direction: column;
    }
}

@media screen and (max-width:650px) {
    .tTTLoginWrapper1518{
        flex-direction: column;
    }
    .tTTLoginWrapper1518 .tTTLoginLeft1518, .tTTLoginWrapper1518 .tTTLoginRight1518{
        width: 100%;
    }
    .tTTLoginWrapper1518 .tTTLoginLeft1518{
        height: 120px;
    }
    .tTTLoginWrapper1518 .tTTLoginLeft1518 .tTTLoginHeading1518{
        font-size: 50px;
        flex-direction: row;
    }
    .tTTLoginWrapper1518 .tTTLoginLeft1518 .tTTLoginHeading1518 span{
        margin-top: 0;
    }
    .tTTLoginWrapper1518 .tTTLoginLeft1518 .tTTLoginBackImage1518{
        display: none;
    }
    .tTTLoginWrapper1518 .tTTLoginRight1518 h2{
        margin-top: 20px;
    }
}